:root{

--bg:#0f1117;
--panel:#181c25;
--panel2:#202634;

--text:#f5f7fb;
--sub:#9ba6bd;

--accent:#79a8ff;

--radius:24px;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);

color:var(--text);

font-family:
Arial,
sans-serif;

height:100vh;

overflow:hidden;

}

#app{

width:100%;
height:100%;

display:flex;
flex-direction:column;

}

.topbar{

height:70px;

display:flex;

align-items:center;

padding:0 20px;

border-bottom:
1px solid rgba(255,255,255,.05);

}

.logo{

font-size:22px;
font-weight:700;

}

#page-container{

flex:1;

overflow:auto;

padding:20px 20px 100px;

}

.card{

background:var(--panel);

padding:20px;

border-radius:24px;

margin-bottom:16px;

}

.title{

font-size:24px;
font-weight:700;

margin-bottom:10px;

}

.sub{

color:var(--sub);

line-height:1.8;

}

.input{

width:100%;

height:52px;

background:var(--panel2);

border:none;

border-radius:18px;

padding:0 16px;

color:white;

margin-top:14px;

}

textarea.input{

height:140px;

padding:16px;

resize:none;

}

.button{

width:100%;

height:52px;

border:none;

border-radius:18px;

background:var(--accent);

color:white;

font-size:16px;

margin-top:16px;

cursor:pointer;

}

.story{

line-height:2;

font-size:15px;

}

.story b{

font-weight:700;

}

.story i{

font-style:italic;

color:#b7c2d9;

}
