:root{

--bg:#0b0d12;

--panel:#151922;

--panel2:#1d2330;

--line:
rgba(255,255,255,.06);

--text:#f5f7fb;

--sub:#9ca8c7;

--accent:#7aa2ff;

--radius:28px;

--shadow:
0 10px 30px
rgba(0,0,0,.35);

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:

linear-gradient(
180deg,
#0b0d12,
#111522
);

color:var(--text);

font-family:

Inter,
Arial,
sans-serif;

height:100vh;

overflow:hidden;

}

#app{

width:100%;
height:100%;

display:flex;
flex-direction:column;

}

.topbar{

height:74px;

display:flex;

align-items:center;
justify-content:space-between;

padding:0 22px;

background:
rgba(0,0,0,.25);

backdrop-filter:
blur(20px);

border-bottom:
1px solid var(--line);

}

.logo{

font-size:22px;
font-weight:800;

letter-spacing:1px;

}

#page-container{

flex:1;

overflow:auto;

padding:
22px
22px
120px;

}

.card{

background:
rgba(255,255,255,.03);

backdrop-filter:
blur(18px);

border:
1px solid var(--line);

border-radius:
var(--radius);

padding:22px;

margin-bottom:18px;

box-shadow:
var(--shadow);

}

.title{

font-size:26px;
font-weight:800;

margin-bottom:10px;

}

.sub{

color:var(--sub);

line-height:1.9;

font-size:14px;

}

.input{

width:100%;

height:56px;

background:
rgba(255,255,255,.04);

border:none;

border:
1px solid
rgba(255,255,255,.05);

border-radius:20px;

padding:0 18px;

color:white;

margin-top:14px;

font-size:15px;

}

textarea.input{

height:180px;

padding:18px;

resize:none;

}

.button{

width:100%;

height:56px;

border:none;

border-radius:20px;

background:

linear-gradient(
135deg,
#7aa2ff,
#5d7dff
);

color:white;

font-size:16px;

font-weight:700;

margin-top:16px;

cursor:pointer;

box-shadow:
0 10px 25px
rgba(92,126,255,.35);

}

.button:active{

transform:scale(.98);

}
